<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.ledermann.axel.projet_samp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/custom_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.HighscoreActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.ScoreActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.PlayActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.QuizzActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.QuizzManageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.AnswerManageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.QuestionManageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>